<h1>Shopping cart</h1>
<ng-container *ngIf="(cart$ | async) as cart">
    <p>You have {{ cart.totalItemsCount }} items in your cart</p>
    <table class="table table-striped text-center align-middle">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                
                <th><div class="w-50 text-end">Total Price</div></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.cartItems; let i = index">
                <td>{{i + 1}}</td>
                <td><img [src]="item.product.imageUrl" class="img-thumbnail img-fluid thumbnail" alt="no image"></td>
                <td>{{item.product.title}}</td>
                <td><product-quantity [product]="item.product" [shopping-cart]="cart"></product-quantity> </td>
                <td class="bdt-currency"><div class="w-50 text-end">{{item.product.price * item.quantity | currency: '&#2547;'}}</div></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
              <th class="text-end" colspan="3">Grand Total :</th>
              <th>{{cart.totalItemsCount}}</th>
              <th class="bdt-currency"><div class="w-50 text-end">{{cart.grandTotalPrice | currency: '&#2547;'}}</div> </th>
            </tr>
           </tfoot>
    </table>
    <button class="btn-danger btn btn-sm" (click)="clearCart()">Clean Shopping Cart</button>
</ng-container>