<div class="">
  <p>
    <a routerLink="new" class="btn btn-primary">New Product</a>
  </p>
  <p>
    <input type="text" #query class="form-control" (keyup)="filterProducts(query.value)" placeholder="Search...">
  </p>


  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Image</th>
        <th (click)="sort('title')">Title 
          <span *ngIf="sortedBy=='title'">
          <ng-template [ngIf]="sortingOrderInBool" [ngIfElse]="loggedOut">
            <span>
              &#11014;
            </span>
          </ng-template>

          <ng-template #loggedOut>
            <span>
              &#11015;
            </span>
          </ng-template>
        </span>
        </th>
        <th (click)="sort('price')">Price
          <span *ngIf="sortedBy=='price'">
          <ng-template [ngIf]="sortingOrderInBool" [ngIfElse]="loggedOut">
            <span>
              &#11014;
            </span>
          </ng-template>

          <ng-template #loggedOut>
            <span>
              &#11015;
            </span>
          </ng-template>
        </span>
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts
      |paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: filteredProducts.length };
      let i = index;">
        <td scope="row">{{(i+1)+((page -1) * itemsPerPage)}}</td>
        <td><img [src]="product.imageUrl" class="img-thumbnail img-fluid" alt="no image"></td>
        <td>{{product.title}}</td>
        <td>{{product.price|currency:"BDT":true}}</td>
        <td><button type="button" class="btn btn-warning"
            [routerLink]="['/admin/products/', product.key]">Update</button></td>
      </tr>
    </tbody>

  </table>
  <div class="row">
    <div class="col-6">
      <pagination-controls class="text-left" (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="col-4"></div>
    <div class="col-2">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Limit</span>
        <input type="number" (change)="limitChange($event.target)" class="form-control" [value]="itemsPerPage">
      </div>
    </div>
  </div>
  

</div>